---
import type { Asset, EntryFieldTypes } from 'contentful'

export interface previewCardPropsType {
  id: string
  item: {
    image: Asset
    author: EntryFieldTypes.Text
    title: EntryFieldTypes.Text
    article: EntryFieldTypes.RichText
    tags: EntryFieldTypes.Object
    date: EntryFieldTypes.Date
    description: EntryFieldTypes.Text
  }

  modalId?: string
  animationClass?: string
}

const {
  id,
  item: { title, description, image, tags, date },
  animationClass,
} = Astro.props
---

<div
  data-title={title}
  class:list={[
    'flex flex-col justify-between cases-animation rounded-lg bg-black bg-opacity-30 min-h-[500px] md:min-h-[575px] w-full xl:w-1/2 max-w-[600px] backdrop-blur-sm',
    animationClass ? animationClass : null,
  ]}
>
  <div
    class:list={[
      'relative rounded-lg flex min-h-40 max-h-min-h-40 md:min-h-72 md:max-h-72 overflow-hidden w-full',
    ]}
  >
    <a href=`/blog/${id}`>
      <img
        src={(image as Asset).fields?.file?.url as string}
        alt={title}
        class="absolute top-0 left-0 zoom-on-hover scale-110 w-full"
      />
    </a>
  </div>

  <div class="p-6 flex flex-col items-start justify-evenly gap-3">
    <h1 class="text-xl subtitle mt-2 lg:text-2xl">{title.toUpperCase()}</h1>
    <p class="text-md mb-6 text-gray-400">{description}</p>

    <p class="text-sm text-gray-400 md:mt-4">
      {new Date(date).toLocaleDateString()}
    </p>
    <a href=`/blog/${id}` class="secondary-button" id="modal-trigger-btn"
      >READ MORE</a
    >
    <div class="flex flex-wrap justify-start items-center w-full my-4 gap-4">
      {
        tags.map((tag: string) => (
          <span class="border border-gray-700 rounded-full py-2 px-4 w-fit text-center text-xs text-gray-400">
            {tag.toUpperCase()}
          </span>
        ))
      }
    </div>
  </div>
</div>
