---
import ImageWithDynamicallyImportedSrc from './ImageWithDynamicallyImportedSrc.astro'
interface Props {
  useImageWithDynamicallyImportedSrc?: boolean
  title: string
  description: string
  icon: string
  classes?: string[]
}

const {
  title,
  description,
  icon,
  classes,
  useImageWithDynamicallyImportedSrc,
} = Astro.props
---

<div
  class:list={[
    'flex flex-col gap-3 items-start rounded-lg bg-black bg-opacity-40 backdrop-blur-sm',
    classes && [...classes],
  ]}
>
  {
    useImageWithDynamicallyImportedSrc ? (
      <ImageWithDynamicallyImportedSrc
        imageName={icon}
        alt={title}
        width={40}
        height={40}
        classes={['mt-2 opacity-50']}
      />
    ) : (
      <img
        src={icon}
        alt={title}
        width={40}
        height={40}
        class="mt-2 opacity-50"
      />
    )
  }
  <div class="">
    <h1 class="text-2xl mt-1 tracking-wider">{title.toUpperCase()}</h1>
    <p class="text-md text-gray-400 mt-2">{description}</p>
  </div>
</div>
